.iconos-redes {
  width: 30px;
  padding: 10px 0;
  text-align: center;
}
.footer {
  background-color: darkgray;
  padding: 20px 0;
  text-align: center;
}
.description {
  background-color: rgb(219, 219, 219);
  padding: 20px 0;
  text-align: center;
}
